@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@1,400;1,700&family=Dosis:wght@200;300;400&family=Lateef&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Stick+No+Bills:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@1,400;1,700&family=Dosis:wght@200;300;400&family=Lateef&family=Roboto:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    background: #282a2b;
}

.head-gourmands h3 {
    font-family: 'Fasthand', sans-serif;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    display: block;
    margin-top: 24px;
    text-transform: uppercase;
    background: #282a2b;
}

.flex-item-left {
    width: 300px;
    height: 300px;
    padding: 4px;
    margin: 1rem 1rem;
    border-radius: 8px;
}

.flex-item-left .card .card-body h3 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #e0e71d;
}

.flex-item-left .card .card-body p {
    font-size: 3rem;
    margin-top: 1rem;
    color: #f02fb6;
}

.flex-item-left .card .card-body p:hover {
    transform: scale(1.2);
    color: #1d71e7;
}

.right-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    background: #282a2b;
}

.flex-item-right {
    width: 300px;
    height: 300px;
    align-items: center;
    padding: 4px;
    margin: 1rem 1rem;
    border-radius: 8px;
}

.flex-item-right .card .card-body h3 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #e0e71d;
}

.flex-item-right .card .card-body p {
    font-size: 3rem;
    color: #f02fb6;
    font-style: italic;
}

.flex-item-right .card .card-body p:hover {
    transform: scale(1.2);
    color: #1d71e7;
}


/*                         
  .left-container .flex-item-left .card img {
      width: 260px;
      height: 200px;
  }
  
  .right-container flex-item-right .card img {
      width: 260px;
      height: 200px;
  } */

@media (max-width: 800px) {
    .left-container {
        flex-direction: column;
        width: 100%;
    }
    .right-container {
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width:768px) {}


/*                         
  @media(max-width:450px) {
      .left-container .flex-item-left .card img {
          flex-direction: column;
          width: 100%;
          padding: 2rem;
      }
      .right-container flex-item-right .card img {
          flex-direction: column;
          width: 100%;
          padding: 2rem;
      }
  } */