 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .about {
     color: white;
     border: 1px solid #1b1c1c;
     margin: 1.5rem;
     background: #282a2b;
 }
 
 .about .beuf1 {
     display: flex;
     text-align: center;
     justify-content: center;
 }
 
 .beuf1 .imag1 {
     width: 250px;
     height: 250px;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
     margin: 1.5rem;
 }
 
 .beuf1 .imag1 .content {
     text-align: center;
     margin-top: 50%;
     margin-left: auto;
     margin-right: auto;
 }
 
 .about .beuf1 .imag1:hover {
     transform: scale(1.1)
 }
 
 .beuf1 .content {
     margin-top: 4rem;
 }
 
 .beuf1 .content a {
     font-size: 2rem;
     color: rgba(249, 247, 249, 0.968);
     border-radius: 30px;
     background: linear-gradient(to right, rgb(11, 11, 11), rgba(255, 122, 89, 0));
     padding: 1rem;
     font-weight: 700;
 }
 
 .about .text1 {
     text-align: center;
     align-items: center;
     color: rgb(8, 7, 7);
     margin-top: 4rem;
     font-size: 1.5rem;
     background-color: #ccc;
     border: 1px solid #1b1c1c;
     margin: 1.5rem;
 }
 
 .about .text1,
 h2,
 p,
 h3 {
     padding: .4rem;
 }
 
 @media(max-width:1200px) {
     section {
         padding: 2rem 4%;
     }
 }
 
 @media(max-width:991px) {
     section {
         padding: 2rem 1rem;
     }
 }
 
 @media(max-width:768px) {
     .about .beuf1 {
         display: block;
         height: 80%;
         width: auto;
         justify-items: center;
     }
     .beuf1 .imag1 {
         height: 25rem;
         width: 25rem;
         margin-left: auto;
         margin-right: auto;
     }
 }
 
 @media(max-width:450px) {
     .beuf1 .content a {
         font-size: 2vw;
     }
 }