 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .about {
     color: white;
     background: #121212;
 }
 
 .about .beuf1 {
     display: flex;
     height: 25rem;
 }
 
 .beuf1 .imag1 {
     width: 100%;
     height: auto;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
     margin: 1.5rem;
 }
 
 .beuf1 .imag1 .content {
     text-align: center;
     margin-top: 50%;
     margin-left: auto;
     margin-right: auto;
 }
 
 .about .beuf1 .imag1:hover {
     transform: scale(1.1)
 }
 
 .beuf1 .content {
     margin-top: 4rem;
 }
 
 .beuf1 .content a {
     font-size: 2rem;
     color: rgb(244, 240, 240);
     border-radius: 30px;
     background: linear-gradient(to right, rgba(255, 122, 89, 1), rgba(255, 122, 89, 0));
     padding: 1rem;
 }
 
 .about .text1 {
     text-align: center;
     align-items: center;
     color: rgb(8, 7, 7);
     margin-top: 4rem;
     font-size: 1.5rem;
     background-color: #ccc;
 }
 
 .about .text1,
 h2,
 p,
 h3 {
     padding: .4rem;
 }
 
 @media(max-width:991px) {
     section {
         padding: 2rem 1rem;
     }
 }
 
 @media(max-width:768px) {
     .about .beuf1 {
         display: block;
         height: 80%;
         width: auto;
         justify-items: center;
     }
     .beuf1 .imag1 {
         height: 25rem;
         width: 25rem;
         margin-left: auto;
         margin-right: auto;
     }
 }
 
 @media(max-width:450px) {
     .beuf1 .content a {
         font-size: 2vw;
     }
 }