* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*LEFT CONTAINER*/

.left-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: 3rem;
    background: #282a2b;
    border: 1px solid #282a2b;
    margin: 1.5rem;
}

.head-gourmands h3 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3rem;
    color: #f1f4f5;
    margin-top: 24px;
    text-transform: uppercase;
}

.left-container .flex-item-left {
    width: 380px;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
}

.flex-item-left .card {
    height: 306px;
    text-align: center;
}

.left-container .flex-item-left .card img {
    padding: 1rem;
    height: 200px;
}

.flex-item-left .card .card-body h3 {
    margin-top: 1rem;
    color: #f6f4f2e9;
    font-size: 2rem;
    font-weight: bold;
}

.flex-item-left .card .card-body p {
    color: #a32ff0;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

.flex-item-left .card .card-body p:hover {
    transform: scale(1.2);
    color: #1d71e7;
}


/*RIGHT CONTAINER*/

.right-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    background: #282a2b;
    border: 1px solid #282a2b;
    margin: 1.5rem;
    margin-bottom: 3rem;
}

.right-container .flex-item-right {
    width: 380px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 1.5rem 0;
}

.flex-item-right .card {
    padding: 1rem;
    height: 306px;
    text-align: center;
}

.flex-item-right .card .card-body h3 {
    margin-top: 1rem;
    color: #f6f4f2e9;
    font-size: 2rem;
    font-weight: bold;
}

.flex-item-right .card .card-body p {
    color: #a32ff0;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

.flex-item-right .card .card-body p:hover {
    transform: scale(1.2);
    color: #1d71e7;
}

.right-container flex-item-right .card img {
    height: 200px;
    padding: 1rem;
}


/*RESPONSIVE*/

@media(max-width:1200px) {
    section {
        padding: 2rem 4%;
    }
}

@media(max-width:991px) {
    section {
        padding: 2rem 1rem;
    }
    .left-container .flex-item-left {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .right-container .flex-item-right {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .left-container .flex-item-left .card img {
        width: auto;
        height: 200px;
    }
    .right-container flex-item-right .card img {
        width: auto;
        height: 200px;
    }
}

@media(max-width:768px) {
    .left-container {
        flex-direction: column;
    }
    .right-container {
        flex-direction: column;
    }
    .left-container .flex-item-left {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .right-container .flex-item-right {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .left-container .flex-item-left .card img {
        width: auto;
        height: 200px;
    }
    .right-container flex-item-right .card img {
        width: auto;
        height: 200px;
    }
}

@media(max-width:450px) {
    .left-container .flex-item-left {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .right-container .flex-item-right {
        width: auto;
        align-items: center;
        text-align: center;
    }
    .left-container .flex-item-left .card img {
        width: auto;
        height: 200px;
    }
    .right-container flex-item-right .card img {
        width: auto;
        height: 200px;
    }
}